<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Listagem de Alunos</title>
  </head>

  <body>
    <h1>Lista de Alunos</h1>

    <div th:if="${message}" style="color: green; font-weight: bold">
      <p th:text="${message}"></p>
    </div>

    <div th:if="${error}" style="color: red; font-weight: bold">
      <p th:text="${error}"></p>
    </div>

    <p>
      <a th:href="@{/alunos/new} ">Inserir Aluno</a>
      <a th:href="@{/alunos/search}" style="margin-left: 10px;">Buscar Aluno</a>
    </p>

    <table>
      <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>IDADE</th>
        <th>MATERIA</th>
        <th>AÇÕES</th>
        <th></th>
      </tr>
      <tr th:each="al : ${alunos}">
        <td th:text="${al.id}">---</td>
        <td th:text="${al.name}">---</td>
        <td th:text="${al.idade}">---</td>
        <td th:text="${al.materia}">---</td>
        <td>
          <a th:href="@{'/alunos/edit/' + ${al.id}}">EDITAR</a>
        </td>
        <td>
          <a
            th:href="@{'/alunos/delete/' + ${al.id}}"
            onclick="return confirm('Tem certeza que deseja excluir este aluno?');"
          >
            EXCLUIR
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>