<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:unless="${cliente.id == null}">Edição de Cliente</title>
    <title th:if="${cliente.id == null}">Cadastro de Cliente</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <h2
        th:text="${cliente.id == null} ? 'Novo Cliente' : 'Editar Cliente'"
      ></h2>
      <form
        th:action="@{${cliente.id == null} ? '/clientes/novo' : '/clientes/edit/' + ${cliente.id}}"
        th:object="${cliente}"
        method="post"
      >
        <div class="row g-3">
          <div class="col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              th:field="*{nome}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('nome')}"
              th:errors="*{nome}"
            ></div>
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              th:field="*{email}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></div>
          </div>

          <div class="col-md-6">
            <label for="cpf" class="form-label">CPF</label>
            <input
              type="text"
              class="form-control"
              id="cpf"
              th:field="*{cpf}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('cpf')}"
              th:errors="*{cpf}"
            ></div>
          </div>

          <div class="col-md-6">
            <label for="telefone" class="form-label">Telefone</label>
            <input
              type="text"
              class="form-control"
              id="telefone"
              th:field="*{telefone}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('telefone')}"
              th:errors="*{telefone}"
            ></div>
          </div>

          <div class="col-12">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input
              type="text"
              class="form-control"
              id="logradouro"
              th:field="*{logradouro}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('logradouro')}"
              th:errors="*{logradouro}"
            ></div>
          </div>

          <div class="col-md-4">
            <label for="numero" class="form-label">Número</label>
            <input
              type="number"
              class="form-control"
              id="numero"
              th:field="*{numero}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('numero')}"
              th:errors="*{numero}"
            ></div>
          </div>

          <div class="col-md-8">
            <label for="complemento" class="form-label">Complemento</label>
            <input
              type="text"
              class="form-control"
              id="complemento"
              th:field="*{complemento}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('complemento')}"
              th:errors="*{complemento}"
            ></div>
          </div>

          <div class="col-md-5">
            <label for="bairro" class="form-label">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro"
              th:field="*{bairro}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('bairro')}"
              th:errors="*{bairro}"
            ></div>
          </div>

          <div class="col-md-4">
            <label for="cidade" class="form-label">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="cidade"
              th:field="*{cidade}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('cidade')}"
              th:errors="*{cidade}"
            ></div>
          </div>

          <div class="col-md-1">
            <label for="uf" class="form-label">UF</label>
            <input type="text" class="form-control" id="uf" th:field="*{uf}" />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('uf')}"
              th:errors="*{uf}"
            ></div>
          </div>

          <div class="col-md-2">
            <label for="cep" class="form-label">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep"
              th:field="*{cep}"
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('cep')}"
              th:errors="*{cep}"
            ></div>
          </div>

          <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{/clientes}" class="btn btn-secondary">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
